.builder-canvas {
    padding: 10px;
    border: 1px solid;
    border-radius: 0;
    margin-right: 10px;
    background-color: white;
}

.builder-templates {
    padding: 10px;
    border: 1px solid;
    border-radius: 0;
    zoom: 50%;
}

.module-canvas {
    padding: 10px;
}


