<tr>
    <td ng-bind-html="enableStyle(element.htmlContent)">
    </td>
    <tr class="block-code-button" ng-click="setEditorVisibility()">
        <td>
            <div class="module-code-button prevent-selection">
                <div class="code-button" style="width: 100%"></div>
            </div>
        </td>
    </tr>
    <tr class="block-delete-button" ng-click="deleteModule(index)">
        <td>
            <div class="module-delete-button prevent-selection">
                <div class="delete-button" style="width: 100%;"></div>
            </div>
        </td>
    </tr>
</tr>
<tr ng-if="isVisibleEditor">
    <td>
        <textarea rows="20" wrap="off" class="code-editor" ng-model="element.htmlContent">
        </textarea>
    </td>
</tr>
