<div class="row">
    <div class="col-lg-3 builder-templates">
        <table>
            <tbody>
            <tr class="module-template"
                ng-repeat="module in modules"
                element-directive element="module"
                ui-draggable="true" drag="module">
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-8 builder-canvas" ui-on-Drop="onDrop($event,$data,templateEmail)">
        <table cellspacing='0' border='0' cellpadding='0'
               style='margin:auto;width:750px;background-color: #f7f7f7; border: 1px solid gainsboro;'>
            <tbody>
            <tr ui-draggable="true" drag="partTemplate"
                on-drop-success="dropSuccessHandler($event,$index,templateEmail)"
                ui-on-drop="onDrop($event,$data,templateEmail,$index)"
                drag-image-element-id="$index"
                element-directive element="partTemplate"
                ng-repeat="partTemplate in templateEmail">
            </tr>
            </tbody>
        </table>
    </div>
</div>
