<div class="row">
    <div class="col-lg-3 builder-modules">
        <table>
            <tbody>
            <tr class="drag-cursor preview-module"
                ng-repeat="module in modules"
                element-directive element="module"
                ui-draggable="true" drag="module">
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-8 builder-template" ui-on-Drop="onDrop($event, $data, template)">
        <table cellspacing='0' border='0' cellpadding='0'
               style='margin:auto;width:750px;background-color: #f7f7f7; border: 1px solid gainsboro;'>
            <tbody>
            <tr class="drag-cursor module-block" ui-draggable="true" drag="module"
                on-drop-success="dropSuccessHandler($event, $index, template)"
                ui-on-drop="onDrop($event, $data, template, $index)"
                drag-image-element-id="$index"
                element-directive element="module" index="$index"
                ng-repeat="module in template">
            </tr>
            </tbody>
        </table>
    </div>
</div>
